### Base system installation
d-i base-installer/kernel/override-image string linux-server

### Account setup
d-i passwd/user-fullname string Hashicorp Packer
d-i passwd/username string packer
d-i passwd/user-password-crypted password $6$F5DYozRZF6hrM8Gp$hk45EuY/TtydCgx
.pbMOpYcp75QXQhtmZDxsw614zniGmftyZDWmm15g9xWG1ndwl24zSCoir4gFrtU5276I3.
d-i user-setup/encrypt-home boolean false

### Sudo setup
d-i preseed/late_command string \
    echo 'packer ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/packer ; \
    in-target chmod 440 /etc/sudoers.d/packer ;

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Mirror settings
#d-i mirror/country string JP
d-i mirror/http/proxy string

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/update-policy select none
d-i pkgsel/include string openssh-server qemu-guest-agent
d-i pkgsel/install-language-support boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true

### Finishing up the installation
d-i finish-install/reboot_in_progress note
